<table class="dataTable" style="width:100%;">
   <tr><td colspan=6 class="wide">Expenditures by Candidate</td></tr>
   <tr><th align="right">Date</th><th>Committee</th><th>Candidate</th><th style="text-align:right">Support/Oppose</th><th style="text-align:right">Amount</th><th style="text-align:right">YTD</th></tr>
   <%= render :partial => 'expenditure_itemized_line',:collection => @expenditures %>
</table>
<%= will_paginate @expenditures,:renderer => 'RemoteLinkRenderer',:param_name => "expenditures_itemized_page" %> <%= link_to image_tag('icons/table_save.png',:border => 0,:alt => "Save CSV") + "  (CSV)",district_path(@district,:format => :csv,:key => "expenditures_itemized") %></i>
